
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-down-big:before { content: '\e804'; } /* '' */
.icon-left-big:before { content: '\e805'; } /* '' */
.icon-right-big:before { content: '\e806'; } /* '' */
.icon-up-big:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-doc-text-inv:before { content: '\e809'; } /* '' */
.icon-trash-empty:before { content: '\e80a'; } /* '' */
.icon-trash:before { content: '\e80b'; } /* '' */
.icon-doc-inv:before { content: '\e80c'; } /* '' */
.icon-down-open-big:before { content: '\e80d'; } /* '' */
.icon-left-open-big:before { content: '\e80e'; } /* '' */
.icon-right-open-big:before { content: '\e80f'; } /* '' */
.icon-up-open-big:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-plus:before { content: '\e812'; } /* '' */
.icon-cancel-circled:before { content: '\e813'; } /* '' */
.icon-ok-circled:before { content: '\e814'; } /* '' */
.icon-ok-circled2:before { content: '\e815'; } /* '' */
.icon-cancel-circled2:before { content: '\e816'; } /* '' */
.icon-plus-circled:before { content: '\e817'; } /* '' */
.icon-phone:before { content: '\e818'; } /* '' */
.icon-mail:before { content: '\e819'; } /* '' */
.icon-zoom-in:before { content: '\e81a'; } /* '' */
.icon-zoom-out:before { content: '\e81b'; } /* '' */
.icon-star:before { content: '\e81c'; } /* '' */
.icon-star-empty:before { content: '\e81d'; } /* '' */
.icon-right-bold:before { content: '\e81e'; } /* '' */
.icon-left-bold:before { content: '\e81f'; } /* '' */
.icon-user:before { content: '\e820'; } /* '' */
.icon-circle:before { content: '\e821'; } /* '' */
.icon-play:before { content: '\e822'; } /* '' */
.icon-up-micro:before { content: '\e823'; } /* '' */
.icon-down-micro:before { content: '\e824'; } /* '' */
.icon-guest:before { content: '\e825'; } /* '' */
.icon-heart:before { content: '\e826'; } /* '' */
.icon-heart-empty:before { content: '\e827'; } /* '' */
.icon-download-alt:before { content: '\e828'; } /* '' */
.icon-phone-1:before { content: '\e829'; } /* '' */
.icon-doc-text:before { content: '\e82a'; } /* '' */
.icon-menu:before { content: '\e82b'; } /* '' */
.icon-down-dir:before { content: '\e82c'; } /* '' */
.icon-up-dir:before { content: '\e82d'; } /* '' */
.icon-left-dir:before { content: '\e82e'; } /* '' */
.icon-right-dir:before { content: '\e82f'; } /* '' */
.icon-emo-happy:before { content: '\e830'; } /* '' */
.icon-emo-unhappy:before { content: '\e831'; } /* '' */
.icon-male:before { content: '\e832'; } /* '' */
.icon-female:before { content: '\e833'; } /* '' */
.icon-check:before { content: '\e834'; } /* '' */
.icon-cancel-1:before { content: '\e835'; } /* '' */
.icon-list:before { content: '\e836'; } /* '' */
.icon-align-justify:before { content: '\e837'; } /* '' */
.icon-minus:before { content: '\e838'; } /* '' */
.icon-download:before { content: '\e839'; } /* '' */
.icon-upload:before { content: '\e83a'; } /* '' */
.icon-android:before { content: '\e83b'; } /* '' */
.icon-appstore:before { content: '\e83c'; } /* '' */
.icon-lock:before { content: '\e83d'; } /* '' */
.icon-lock-open:before { content: '\e83e'; } /* '' */
.icon-circle-thin:before { content: '\e83f'; } /* '' */
.icon-cog:before { content: '\e840'; } /* '' */
.icon-right-hand:before { content: '\e841'; } /* '' */
.icon-left-hand:before { content: '\e842'; } /* '' */
.icon-up-hand:before { content: '\e843'; } /* '' */
.icon-down-hand:before { content: '\e844'; } /* '' */
.icon-picture:before { content: '\e845'; } /* '' */
.icon-login-1:before { content: '\e846'; } /* '' */
.icon-login:before { content: '\e847'; } /* '' */
.icon-logout:before { content: '\e848'; } /* '' */
.icon-logout-1:before { content: '\e849'; } /* '' */
.icon-group:before { content: '\e84a'; } /* '' */
.icon-users:before { content: '\e84b'; } /* '' */
.icon-chart-bar:before { content: '\e84c'; } /* '' */
.icon-doc-text-1:before { content: '\e84d'; } /* '' */
.icon-mail-1:before { content: '\e84e'; } /* '' */
.icon-users-1:before { content: '\e84f'; } /* '' */